video{
    padding: 0px;
    margin: 0px auto;
    display: block;
    width: 100%;
    object-fit: cover;
  }

.a {
position: relative; /*get error if we delete it*/
top: 6%;
margin: auto;
max-width: 1000px;
height: 800px;
display: flex;
background-color: whitesmoke;
-webkit-box-shadow: -1px 4px 9px 4px rgba(0,0,0,0.61); 
box-shadow: -1px 4px 9px 4px rgba(0,0,0,0.61);
}

.a-mobile-camera{
  max-width:500px;
  height: 100%; 
  top: 0%;
}



.b {
position: absolute;
width: 120px;
padding: 10px;
top: 0;
right: 0;
z-index: 3;
} 

.c {
position: absolute;
bottom: 0;
width: 100%;
text-align: center;
background-color: rgba(255, 235, 205, 0.068);
z-index: 5;
}

.d{
position: absolute;
width: 120px;
padding: 10px;
top: 0;
left: 0;
z-index: 2;
font-size: 1.2em;
width: 100%;
}


html, body {
  height: 100%;
     display: block;
     margin: 0;
     padding: 0;
overscroll-behavior-x: none;
overscroll-behavior-y: none;
}

